<launch>

  <node pkg="tf2_ros" type="static_transform_publisher" name="a1_intermediate_broadcaster" args="-0.144 -0.057 -0.015 3.14159265359 0 0 adis16448bmlz a1_intermediate"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a1_tilt_broadcaster" args="0 0 0 0 0 -2.35619449019 a1_intermediate a1_tilt"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a1_broadcaster" args="0 0 0 0 0 0  a1_tilt a1"/>
  <!-- horizontal polarization -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="a2_intermediate_broadcaster" args="0.368 -0.057 -0.015 3.14159265359 0 0 adis16448bmlz a2_intermediate"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a2_tilt_broadcaster" args="0 0 0 0 0 -2.35619449019 a2_intermediate a2_tilt"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a2_broadcaster" args="0 0 0 0 0 0  a2_tilt a2"/>
  <!-- horizontal polarization -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="a3_intermediate_broadcaster" args="-0.144 0.100 -0.171 3.14159265359 0 0 adis16448bmlz a3_intermediate"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a3_tilt_broadcaster" args="0 0 0 0 0 -2.35619449019 a3_intermediate a3_tilt"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a3_broadcaster" args="0 0 0 1.57079632679 0 0 a3_tilt a3"/>
  <!-- vertical polarization -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="a4_intermediate_broadcaster" args="0.368 0.100 -0.171 3.14159265359 0 0 adis16448bmlz a4_intermediate"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a4_tilt_broadcaster" args="0 0 0 0 0 -2.35619449019 a4_intermediate a4_tilt"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="a4_broadcaster" args="0 0 0 1.57079632679 0 0 a4_tilt a4"/>
  <!-- vertical polarization -->

  <!-- from Kalibr -->
  <!--node pkg="tf2_ros" type="static_transform_publisher" name="broadcaster_adis16448bmlz_to_bfly" args="-0.0125 -0.1208 -0.0791 0.707562 0.706624 0.000398 0.006210 adis16448bmlz bfly" /-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="broadcaster_adis16448bmlz_to_bfly" args="0.0410 -0.1230 -0.1003 0.705652 0.708548 0.001870 -0.003460 adis16448bmlz bfly" />

  <!-- from CAD -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_broadcaster" args="0.0696 0.0767 −0.0604 0.70710678 0.0 -0.70710678 0.0 adis16448bmlz velodyne"/>

</launch>
